
.cardStack{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.header{
    max-height: 150px;
    background-color: #22727d;
}

.mainTitle{
    font-size: 6vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 2%;
    padding-top: 0.5%;
    max-height: 150px;

    
}

.subTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    
    padding: 1%;
    position:relative;
    text-align: right;
    
    bottom: 4vw
    
}

.aboutCard{
    margin:5% ;
    width: 50%;
    border-radius: 20%;
    color:rgb(4, 6, 20)
}
.profileImg{
    /* border-radius: 20%; */
}
.cardTitle{
    padding:2%;
}

.footer{
    background-color: #22727d;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    text-align: right;
    padding: 5%;
}

.modal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    
}
.sub{
    font-weight: lighter;
}
.modalButton{
    color: rgba(0,0,0,0.55);
}

.portfolioCard{
    width: 50%;
    color: black;
}

.icon{
    max-width: 18%;
}

.iconContainer{
    max-width: 20%;
}


